.search-container {
    display: flex;
    justify-content: center;

    & > * {
        border: none;
        appearance: none;

        background-color: #ddd;
        padding: 16px;

        transition: 0.5s all;
    }

    &:focus-within > * {
        background-color: #eee;
    }

    input {
        outline: 1px solid transparent;

        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
    }
}

.search-icon {
    display: flex;

    margin-right: -1px;

    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}